:root {
    --btn-color: #596D48;
    --inputs-border: #E5E7EB;
    --error-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    max-height: 100vh;
}

.left {
    height: 100vh;
    background-image: url(img/leaves.avif);
    background-size: cover;
    width: 30%;
    color: white;
    position: relative;
}

.left > img {
    height: 100vh;
}

.left-logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 20%;
}

.left-logo > img {
    height: 100px;
}

.left-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}